<header class="component-header">
    <div class="site-wrapper top-bar">
        <div class="brand">
            <div>
                <p class="brand-title">T&amp;O Construction</p>
                <span>Charlotte Exterior + Interior Specialists</span>
            </div>
        </div>
        <nav aria-label="Primary">
            <ul>
                <li><a class="nav-link" href="../home-page/index.html">Home</a></li>
                <li><a class="nav-link" href="../services-page/index.html">Services</a></li>
                <li><a class="nav-link" href="../projects-page/index.html">Projects</a></li>
                <li><a class="nav-link" href="../about-page/index.html">About</a></li>
                <li><a class="nav-link" href="../contact-page/index.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
