<header class="header-nav">
    <h1>ITIS 3135 - Alexis Arenas-Villalba</h1>
    <nav class="primary-nav">
        <a data-scope="root" data-path="index.html" href="#">Home Page</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="index.html" href="#">ITIS 3135 Course Home</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="introduction.html" href="#">Introduction</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/intro-form/" href="#">Introduction Form</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/js-cirriculum-agreement/fccfsjs_outline.html" href="#">FCC Full Stack JavaScript Curriculum Agreement</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="contract.html" href="#">Contract</a>
    </nav>
    <nav class="secondary-nav" aria-label="Additional sites">
        <a data-scope="itis" data-path="projects/alexEnterprises.tech/index.html" href="/itis3135/projects/alexEnterprises.tech/index.html">AlexEnterprises Tech</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/astuteaxolotl-tea/" href="#">Mascot Company</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/crap-site/My%20BAD%20Page%20%26%20Stuff.htm" href="#">Crappy Page</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/crap-analysis/website_evaluation.html" href="#">CRAP Website Evaluation</a>
        <span class="separator">|</span>
        <a data-scope="itis" data-path="projects/client-project/home-page/index.html" href="/itis3135/projects/client-project/home-page/index.html">Client-Website</a>
    </nav>
</header>
